.card {
  display: flex;
  gap: 1rem;

  border-radius: var(--border-radius-small);

  padding: 0.5rem 1rem;

  > select {
    background-color: transparent;

    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}
