.button {
  background-color: var(--color-primary-opposite);

  border: none;

  padding: 0.5rem 1rem;

  cursor: pointer;

  &.small {
    border-radius: var(--border-radius-small);
  }

  &.medium {
    border-radius: var(--border-radius-medium);
  }

  &.large {
    border-radius: var(--border-radius-large);
  }
}
