.address {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      padding: 0.5rem;

      border: 1px solid var(--color-secondary);
      border-radius: var(--border-radius-small);

      > p {
        font-size: var(--fz-300);
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        background-color: var(--color-primary-opposite);

        padding: 0.25rem;

        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius-small);

        color: var(--color-primary-darker);

        transition: background-color var(--animation-duration-fast) ease-in-out;

        &:hover {
          background-color: var(--color-surface);
        }

        > svg {
          font-size: 1.25em;
        }

        > p {
          padding-block-start: 3px;
        }
      }
    }
  }
}
