.online-visit {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      gap: 0.15rem;

      > svg {
        font-size: 1.5em;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-block: 0.5rem;

    font-size: var(--fz-300);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    inline-size: 100%;
  }
}
