.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;

  .share {
    display: flex;
    gap: 0.25rem;

    padding: 0.125rem 0 0;

    > svg {
      font-size: 1.25em;
    }
  }

  .out-side {
    inline-size: 100%;

    .info-box {
      display: flex;
      align-items: center;
      gap: 1rem;

      inline-size: 100%;

      background-color: var(--color-primary-opposite);

      padding: 1rem;

      border: 1px solid var(--color-secondary);

      > img {
        inline-size: 6rem;
        block-size: 6rem;

        border: 3px solid var(--color-primary);
        border-radius: 999rem;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > h1 {
          font-size: var(--fz-500);
        }

        > p {
          font-size: var(--fz-300);
        }
      }
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    inline-size: 100%;

    padding-block-start: 0.5rem;

    .expertise {
      padding: 0.2rem 0.5rem;

      border: 1px solid var(--color-primary-darker);
      border-radius: var(--border-radius-large);

      color: var(--color-primary-darker);
      font-size: var(--fz-300);
    }

    .rate {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      > span {
        background-color: var(--color-success);

        padding: 0.35rem 0.5rem 0.2rem 0.5rem;

        border-radius: var(--border-radius-large);

        color: var(--color-primary-opposite);
      }
    }
  }
}
