.get-turn {
  .title {
    display: flex;
    align-items: center;
    gap: 0.15rem;

    > svg {
      font-size: 1.5em;
    }
  }

  ul {
    padding-block: 0.5rem;

    font-size: var(--fz-300);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    inline-size: 100%;
  }
}
