.card {
  background-color: var(--color-primary-opposite);

  border-radius: var(--border-radius-small);

  &:not(:has(.title)) {
    padding: 0.75rem;
  }

  &.shadow {
    box-shadow: var(--shadow);
  }

  &:has(.title) {
    &.shadow {
      display: flex;
      flex-direction: column;
      gap: 2px;

      box-shadow: none;

      .title,
      .body {
        box-shadow: var(--shadow);
      }
    }
    .title,
    .body {
      padding: 0.75rem;
    }

    .title {
      border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    }

    .body {
      border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    }
  }
}
