.global-search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  inline-size: min(50rem, 100%);

  padding-inline: 1rem;

  border: 1px solid var(--color-primary);
  border-radius: 999rem;

  transition: border-color var(--animation-duration-fast) ease-in-out;

  .prefix {
    display: grid;
    align-items: center;

    color: var(--color-primary);
    font-size: var(--fz-600);

    transition: color var(--animation-duration-fast) ease-in-out;
  }

  > input {
    flex: 1 1 0;

    background-color: transparent;

    padding: 1rem;

    border: none;

    &:focus {
      outline: none;
    }
  }

  .divider {
    background-color: var(--color-primary);

    block-size: 2em;
    inline-size: 1px;
  }

  .suffix {
    > button {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      padding: 0.5rem 0.5rem;

      border: none;

      color: var(--color-primary);

      transition: color var(--animation-duration-fast) ease-in-out;

      > svg {
        font-size: 1.5em;
      }

      &:hover {
        color: var(--color-primary-darker);
      }
    }
  }

  &:focus-within {
    border-color: var(--color-primary-darker);

    > .prefix {
      color: var(--color-primary-darker);
    }
  }
}
