.global-search-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  inline-size: min(50rem, 100%);

  padding-inline: 1rem;

  border: 1px solid var(--color-middle-blue);
  border-radius: 999rem;

  .prefix {
    display: grid;
    align-items: center;

    font-size: 1.5rem;
    color: var(--color-middle-blue);
  }

  input {
    flex: 1 1 0;

    background-color: transparent;

    padding: 1rem;

    border: none;

    &:focus {
      outline: none;
    }
  }

  .divider {
    background-color: var(--color-middle-blue);

    block-size: 2em;
    inline-size: 1px;
  }

  .suffix {
    button {
      background-color: transparent;

      display: flex;
      align-items: center;
      gap: 0.25rem;

      padding: 0.5rem 0.5rem;

      border: none;
      border-radius: var(--border-radius);

      color: var(--color-middle-blue);

      cursor: pointer;

      svg {
        font-size: 1.5em;
      }

      &:hover {
        color: var(--color-dark-blue);
      }
    }
  }

  &:focus-within {
    border-color: var(--color-middle-blue);

    .prefix {
      color: var(--color-middle-blue);
    }
  }
}
