:root {
  --color-primary: hsl(214deg, 94%, 52%);
  --color-primary-darker: hsl(214deg, 98%, 40%);
  --color-primary-fade: hsl(200deg, 92%, 97.5%);
  --color-primary-opposite: hsl(0, 0%, 100%);

  --color-secondary: hsl(0, 0%, 80%);
  --color-secondary-darker: hsl(0, 0%, 60%);
  --color-secondary-lighter: hsl(0, 0%, 96%);

  --color-danger: hsl(0, 79%, 52%);

  --color-star: hsl(32deg, 83%, 55%);

  --shadow: hsla(240deg, 35%, 30%, 0.15) 0 2px 5px 0,
    hsla(0, 0%, 0%, 0.05) 0 1px 1px 0;

  --border-radius-medium: 0.75rem;
  --border-radius-small: 0.5rem;

  --full-width: 75rem;
  --full-width-padding-inline: calc(max(100% - var(--full-width), 2rem) / 2);

  --animation-duration-fast: 0.1s;
  --animation-duration-normal: 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
option,
optgroup {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto auto;

  min-block-size: 100vh;
  min-block-size: 100dvh;

  font-size: var(--fz-400);

  > * {
    padding-inline: var(--full-width-padding-inline);
  }
}
