.header {
  padding-block: 1rem;

  > .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    background-color: var(--color-light-blue);

    padding: 1rem;

    border-radius: var(--border-radius);

    nav {
      > ul {
        display: flex;
        gap: 2rem;

        > li {
          a {
            &.active {
              color: var(--color-middle-blue);
            }
          }
        }
      }
    }

    .booking-btn {
      background-color: transparent;
      color: var(--color-middle-blue);

      padding: 0.5rem 1rem;

      border: 1px solid currentcolor;
      border-radius: var(--border-radius);

      font-weight: 700;

      cursor: pointer;

      &:hover {
        background-color: var(--color-middle-blue);
        color: var(--color-secondary);

        transition: var(--animation-duration-fast);
      }
    }
  }
}
