.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > input,
  > select {
    padding: 0.25rem 0.5rem;

    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-small);

    &:focus {
      outline: none;
    }
  }
}
