.hidden {
  display: none;

  &:checked + .toggle {
    background-color: var(--color-primary);
  }

  &:checked + .toggle::after {
    transform: translateX(-1.5rem);
  }
}

.toggle {
  display: inline-block;

  inline-size: 3rem;
  block-size: 1.5rem;

  position: relative;

  background-color: var(--color-secondary);

  border-radius: var(--border-radius-medium);

  transition: background-color var(--animation-duration-fast) ease-in-out;

  &::after {
    content: "";

    inline-size: 1rem;
    block-size: 1rem;

    position: absolute;
    inset-block-start: 0.25rem;
    inset-inline-start: 0.25rem;

    background-color: var(--color-primary-opposite);

    border-radius: 999rem;

    transition: transform var(--animation-duration-normal) ease-in-out;
  }
}
